Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

codecov.yml:

comment:
  layout: "diff, flags, files, header, footer"
  behavior: default

flags:
  contracts:
    paths:
      - contracts/src/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true
  indexer:
    paths:
      - indexer/src/
      - indexer/indexers/
    carryforward: true
  api:
    paths:
      - api/src/
    carryforward: true

coverage:
  range: 60..100
  status:
    project:
      contracts:
        target: auto
        flags:
          - contracts
      client:
        target: 60%
        flags:
          - client
      indexer:
        target: 60%
        flags:
          - indexer
      api:
        target: 60%
        flags:
          - api
    patch:
      default:
        target: 90%
        threshold: 4%
        flags:
          - contracts
      client:
        target: 60%
        threshold: 4%
        flags:
          - client
      indexer:
        target: 60%
        threshold: 4%
        flags:
          - indexer
      api:
        target: 60%
        threshold: 4%
        flags:
          - api

ignore:
  # Test files
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/scripts/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"

  # Infrastructure & configuration
  - ".github/"
  - ".devcontainer/"
  - "data-snapshot/"

  # Generated artifacts & non-source assets
  - "**/assets/**"
  - "contracts/gas_reports/"

github_checks:
  annotations: false

docs(api): fix README to match runtime behavior
  api/README.md
Due: none

fix(api): make /beasts/all ordering deterministic with NULLS LAST
  api/src/index.ts
Due: api

fix(indexer): remove SIGINT/SIGTERM metric handlers that block graceful shutdown
  indexer/indexers/summit.indexer.ts
Due: indexer

docs(indexer): document split-transaction tradeoff in drizzle patch
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

fix(api): close HTTP server before draining DB pool on shutdown
  api/src/index.ts
Due: api

fix(client): point API/WS URLs to summit-api-next Railway service
  client/src/utils/networkConfig.ts
Due: client

update api and ws endpoints
  client/src/utils/networkConfig.ts
Due: client

fix: allow STARTING_BLOCK env var override for full reindex
  indexer/apibara.config.ts
Due: none

Autopilot enhancements: targeted poison, quest mode, hook extraction (#134)
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

fix: backport drizzle plugin patch to eliminate per-block DDL overhead
  indexer/Dockerfile
  indexer/package.json
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

fix: backport drizzle plugin patch to eliminate per-block DDL overhead (#135)
  indexer/Dockerfile
  indexer/package.json
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

Optimize potion calculation with binary search and harden autopilot attack loop
  client/src/hooks/useAutopilotOrchestrator.ts
  client/src/utils/beasts.ts
Due: client

Fix autopilot stuck on attacking by removing applyingPotions deadlock
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

Add timeouts to transaction execution to prevent autopilot hangs
  client/src/dojo/useSystemCalls.ts
Due: client

Add diagnostic logging and autopilot retry after transaction timeout
  client/src/dojo/useSystemCalls.ts
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

refactor: remove controller workaround code from system calls
  client/src/dojo/useSystemCalls.ts
Due: client

feat: add levelling quest filters, fix beast selection prioritising revives over alive
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/controller.tsx
  client/src/utils/beasts.ts
Due: client

fix: prioritise alive quest beasts over dead ones to conserve revives
  client/src/utils/beasts.ts
Due: client

configure pool settings
  api/src/db/client.ts
Due: api

Update API and WebSocket URLs to new production endpoint
  client/src/utils/networkConfig.ts
Due: client

Fix null owner crash in leaderboard address lookup
  client/src/components/Leaderboard.jsx
Due: client

Lower indexer starting block to 2209820 for complete beast ownership data
  indexer/apibara.config.ts
Due: none

Add missing consumables table migration
  indexer/migrations/0004_add_consumables.sql
  indexer/migrations/meta/_journal.json
Due: none

Use IF NOT EXISTS for consumables migration
  indexer/migrations/0004_add_consumables.sql
Due: none

add endpoints for death mountain
  api/src/index.ts
Due: api

add adventurer claim check endpoint
  api/src/index.ts
Due: api

improve corpse token claim
  client/src/dojo/useGameTokens.test.tsx
  client/src/dojo/useGameTokens.ts
Due: client

fix 2000 adventurer limit
  client/src/dojo/useGameTokens.ts
Due: client

add beast appearance filters
  api/AGENTS.md
  api/README.md
  api/src/index.ts
  client/src/api/summitApi.ts
  client/src/components/dialogs/BeastDexModal.tsx
Due: client, api

increase controller token allowances
  client/src/utils/networkConfig.ts
Due: client

clarify controller allowance amount
  client/src/utils/networkConfig.ts
Due: client

fix client lint gate
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

fix client coverage failures
  client/src/components/Leaderboard.jsx
  client/src/utils/beasts.test.ts
Due: client

force controller policy overrides
  client/src/contexts/starknet.tsx
Due: client

chore: trigger client review
  client/README.md
Due: none

chore: update codex review cli
  .github/workflows/pr-ci.yml
Due: none

Revert "chore: trigger client review"
  client/README.md
Due: none

update Codex review CLI (#141)
  .github/workflows/pr-ci.yml
Due: none

fix client lint errors
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client
