Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer

codecov.yml:

comment:
  layout: "diff, flags, files, header, footer"
  behavior: default

flags:
  contracts:
    paths:
      - contracts/src/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true
  indexer:
    paths:
      - indexer/src/
    carryforward: true

coverage:
  range: 90..100
  status:
    project:
      contracts:
        target: auto
        flags:
          - contracts
      client:
        target: auto
        flags:
          - client
      indexer:
        target: auto
        flags:
          - indexer
    patch:
      default:
        target: 90%
        threshold: 4%

ignore:
  # Test files
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/scripts/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"

  # No test infrastructure
  - "api/"

  # Infrastructure & configuration
  - ".github/"
  - ".devcontainer/"
  - "data-snapshot/"

  # Generated artifacts & non-source assets
  - "**/assets/**"
  - "contracts/gas_reports/"

github_checks:
  annotations: false

feat(ci): make agent reviews required status checks (#91)
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
Due: none

feat(ci): add vitest coverage for client and indexer with Codecov flags (#90)
  .github/workflows/test-client.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-indexer.yml
  client/package.json
  client/pnpm-lock.yaml
  client/src/utils/translation.test.ts
  client/vitest.config.ts
  codecov.yml
  indexer/package-lock.json
  indexer/package.json
  indexer/pnpm-lock.yaml
  indexer/src/lib/decoder.test.ts
  indexer/vitest.config.ts
Due: none

refactor: standardize summit flag fields to booleans
  api/src/db/schema.ts
  api/src/index.ts
  api/src/ws/subscriptions.ts
  client/src/api/starknet.ts
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0001_triggers.sql
  indexer/migrations/0002_boolean_flags.sql
  indexer/migrations/meta/_journal.json
  indexer/scripts/test-live-beast-stats-parity.ts
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: client, indexer

refactor: standardize summit flag fields to booleans (#92)
  api/src/db/schema.ts
  api/src/index.ts
  api/src/ws/subscriptions.ts
  client/src/api/starknet.ts
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0001_triggers.sql
  indexer/migrations/0002_boolean_flags.sql
  indexer/migrations/meta/_journal.json
  indexer/scripts/test-live-beast-stats-parity.ts
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: client, indexer

Rename kill to skull
  client/src/assets/images/skull-token.png
  client/src/components/ClaimRewardsButton.tsx
  client/src/components/GameNotificationFeed.tsx
  client/src/components/ProfileCard.tsx
  client/src/components/dialogs/BeastUpgradeModal.tsx
  client/src/components/dialogs/EventHistoryModal.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/SummitGiftModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  contracts/src/models/events.cairo
  contracts/src/systems/summit.cairo
Due: contracts, client

fmt
  contracts/src/systems/summit.cairo
Due: contracts

sync migrations
  api/src/db/client.ts
  indexer/migrations/0000_tables.sql
  indexer/migrations/0002_boolean_flags.sql
  indexer/migrations/meta/0000_snapshot.json
  indexer/migrations/meta/_journal.json
Due: none

fix(contracts): align fork test deploy calldata with summit constructor
  contracts/tests/test_summit.cairo
Due: none

fix(contracts): align fork test deploy calldata with summit constructor (#95)
  contracts/tests/test_summit.cairo
Due: none

fix(ci): make missing Claude review comment non-blocking
  .github/workflows/claude-review.yml
Due: none

fix(ci): make missing Claude review comment non-blocking (#97)
  .github/workflows/claude-review.yml
Due: none

ci: improve review workflows with comment dedup and add contract docs
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
  contracts/COMPREHENSIVE_TEST_PLAN.md
  contracts/POSSIBLE_BUGS.md
Due: none

chore(contracts): remove review planning docs from PR
  contracts/COMPREHENSIVE_TEST_PLAN.md
  contracts/POSSIBLE_BUGS.md
Due: none

ci: improve review workflows with comment dedup and contract docs (#96)
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
Due: none

fix: apply bool-flag followups after accidental merge
  .github/workflows/test-contract.yml
  client/src/api/starknet.ts
  indexer/src/lib/decoder.test.ts
Due: client

test(client): cover starknet bool flag parsing
  client/src/api/starknet.test.ts
Due: none

ci(contracts): retry once after RPC rate limiting
  .github/workflows/test-contract.yml
  contracts/CLAUDE.md
Due: none

fix: bool-flag followups (#94)
  .github/workflows/test-contract.yml
  client/src/api/starknet.test.ts
  client/src/api/starknet.ts
  contracts/CLAUDE.md
  indexer/src/lib/decoder.test.ts
Due: client

ci: unify PR checks into single orchestrated workflow
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
  .github/workflows/pr-ci.yml
  .github/workflows/test-client.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-indexer.yml
Due: none

ci: fix beast-triggered checks and summary gate failure handling
  .github/workflows/pr-ci.yml
Due: none

ci: remove unused indexer path-filter output
  .github/workflows/pr-ci.yml
Due: none

test(ci): probe contracts-only trigger
  contracts/.ci-trigger-probe.txt
Due: none

ci(contracts): optimize scarb/snfoundry cache wiring
  .github/workflows/pr-ci.yml
Due: none

ci(contracts): skip target cache in lint job
  .github/workflows/pr-ci.yml
Due: none

ci(contracts): cache cairo-coverage binary
  .github/workflows/pr-ci.yml
Due: none

ci(contracts): cache cargo dependencies for snforge
  .github/workflows/pr-ci.yml
Due: none

test(ci): switch probe from contracts to client
  client/.ci-trigger-probe.txt
  contracts/.ci-trigger-probe.txt
Due: none

test(ci): switch probe from client to indexer
  client/.ci-trigger-probe.txt
  indexer/.ci-trigger-probe.txt
Due: none

ci(indexer-api): align lint cache keys with test jobs
  .github/workflows/pr-ci.yml
Due: none

ci(reviews): add general fallback agent reviews
  .github/prompts/general-purpose.md
  .github/workflows/pr-ci.yml
Due: none

test(ci): remove indexer probe file
  indexer/.ci-trigger-probe.txt
Due: none

chore(contracts): remove legacy tool-versions file
  contracts/.tool-versions
Due: none

ci: unify PR checks into single orchestrated workflow (#98)
  .github/prompts/general-purpose.md
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
  .github/workflows/pr-ci.yml
  .github/workflows/test-client.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-indexer.yml
  contracts/.tool-versions
Due: none

test(client): raise patch coverage for ESLint follow-ups
  client/src/components/FinalShowdown.tsx
  client/src/components/dialogs/SummitGiftModal.tsx
  client/src/patchCoverage.imports.test.ts
Due: client

test(client): add focused coverage for lint-improvement changes
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/Leaderboard.test.tsx
  client/src/contexts/Statistics.test.tsx
  client/src/contexts/controller.test.tsx
  client/src/dojo/useGameTokens.test.tsx
  client/src/patchCoverage.imports.test.ts
  client/src/utils/events.test.ts
  client/src/utils/variants.test.ts
Due: none

fix(client): address lint-improvement review feedback
  client/ESLINT_ROLLOUT.md
  client/package.json
  client/src/components/Leaderboard.jsx
  client/src/contexts/controller.tsx
  client/src/dojo/useGameTokens.ts
  client/src/utils/utils.ts
  client/src/utils/variants.ts
Due: client
