Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer

codecov.yml:

comment:
  layout: "diff, flags, files, header, footer"
  behavior: default

flags:
  contracts:
    paths:
      - contracts/src/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true
  indexer:
    paths:
      - indexer/src/
    carryforward: true

coverage:
  range: 90..100
  status:
    project:
      contracts:
        target: auto
        flags:
          - contracts
      client:
        target: auto
        flags:
          - client
      indexer:
        target: auto
        flags:
          - indexer
    patch:
      default:
        target: 90%
        threshold: 4%

ignore:
  # Test files
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/scripts/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"

  # No test infrastructure
  - "api/"

  # Infrastructure & configuration
  - ".github/"
  - ".devcontainer/"
  - "data-snapshot/"

  # Generated artifacts & non-source assets
  - "**/assets/**"
  - "contracts/gas_reports/"

github_checks:
  annotations: false

client: make strict tsconfig default and harden game action types
  client/AGENTS.md
  client/eslint.config.js
  client/src/types/game.ts
  client/tsconfig.json
Due: client

Harden CI gates and stabilize adventurer token hook
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  client/src/dojo/useGameTokens.ts
Due: client

fix: address PR #111 AI review findings (F1-F4, F6, F9)
  .github/workflows/pr-ci.yml
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
Due: contracts

client: harden strict typing in tx and balance flows
  client/src/api/starknet.ts
  client/src/components/ActionBar.tsx
  client/src/components/Summit.tsx
  client/src/contexts/GameDirector.tsx
  client/src/contexts/controller.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

client: type potion selection inputs and cover with tests
  client/src/components/ActionBar.tsx
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

client: type event translation pipeline end-to-end
  client/src/contexts/GameDirector.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/utils/translation.ts
Due: client

Fix terminal reward settlement and review gate filtering
  .github/workflows/pr-ci.yml
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
Due: contracts

client: type network token config and top-up modal
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/utils/networkConfig.ts
Due: client

client: remove remaining any usage in marketplace flows
  client/src/api/ekubo.ts
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/SummitGiftModal.tsx
Due: client

test: add fork test for get_diplomacy_reward_amount_per_second getter
  contracts/tests/fork/test_summit.cairo
Due: none

Add coverage tests for controller, action bar, and db config
  api/src/db/client.test.ts
  client/src/components/ActionBar.test.tsx
  client/src/contexts/controller.test.tsx
Due: none

test(client): remove last explicit-any test casts and prune suppressions
  client/.eslint-suppressions.json
  client/src/components/Leaderboard.test.tsx
  client/src/utils/beasts.test.ts
Due: none

Harden CI review matching and migration/index validation
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  indexer/migrations/0002_beast_stats_flags_and_trigger_refresh.sql
Due: none

ci(client): enforce strict lint gate and explicit-any policy
  .github/workflows/pr-ci.yml
  client/eslint.config.js
  client/src/components/Icons.tsx
Due: client

Harden AI review gating and marker determinism
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

Tighten AI review gate fallback and config validation
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

fix(contracts): restructure if-else expression for cairo-coverage tracking
  contracts/src/systems/summit.cairo
Due: contracts

ci: add eslint lint gates for api and indexer
  .github/workflows/pr-ci.yml
  api/eslint.config.js
  api/package.json
  api/pnpm-lock.yaml
  api/src/index.ts
  indexer/eslint.config.js
  indexer/indexers/summit.indexer.ts
  indexer/package.json
  indexer/pnpm-lock.yaml
  indexer/src/lib/decoder.ts
Due: indexer

ci: align AI review skip enforcement with ai gate
  .github/workflows/pr-ci.yml
Due: none

fix(client): harden data parsing for ekubo quotes, RPC responses, and events
  client/src/api/ekubo.ts
  client/src/api/starknet.ts
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/contexts/Statistics.tsx
  client/src/utils/translation.ts
Due: client

ci: hard-fail missing AI secrets except trusted bot PRs
  .github/workflows/pr-ci.yml
Due: none

ci: ignore claude-review failures in final pr gate
  .github/workflows/pr-ci.yml
Due: none

refactor(tests): deduplicate deploy_summit by delegating to deploy_summit_with_rewards
  contracts/tests/helpers/deployment.cairo
Due: none

test(client): update SwapQuote mock to include totalDisplay field
  client/src/contexts/Statistics.test.tsx
Due: none

ci: gate claude reviews when pr-ci workflow is modified
  .github/workflows/pr-ci.yml
Due: none

ci: fix api toolchain triggers and main-ci diff depth
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

test(contracts): port summit reward helper and diplomacy tests
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers/deployment.cairo
Due: none

chore(github): sync CI prompts and PR workflow
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

fix(ci): harden review gates and broaden contract model triggers
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

chore(github): update CI workflows, prompts, and PR template (#113)
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

chore(ci): mirror main workflow hardening updates
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

chore(codecov): expand ignore list for non-Cairo directories (#86)
  codecov.yml
Due: none

fix(packing): follow-up parity and ABI-safe decoding fixes (#83)
  .github/workflows/test-client.yml
  .github/workflows/test-indexer.yml
  client/package.json
  client/pnpm-lock.yaml
  client/scripts/test-live-beast-stats-parity.ts
  client/src/utils/translation.ts
  contracts/src/models/beast.cairo
  indexer/package.json
  indexer/scripts/test-live-beast-stats-parity.ts
  indexer/src/lib/decoder.ts
Due: contracts, client, indexer

fix(client): remove fragile inline dev-mode parity assertion (#89)
  client/src/utils/translation.ts
Due: client

feat(ci): add targeted Claude and Codex code review workflows (#85)
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
  .github/workflows/test-client.yml
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/src/api/ekubo.ts
  client/src/api/starknet.ts
  client/src/components/ActionBar.tsx
  client/src/components/AttackingBeasts.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/FinalShowdown.tsx
  client/src/components/ProfileCard.tsx
  client/src/components/Summit.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/BeastUpgradeModal.tsx
  client/src/components/dialogs/ConnectWallet.tsx
  client/src/components/dialogs/EventHistoryModal.tsx
  client/src/components/dialogs/LeaderboardModal.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/QuestsModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/contexts/QuestGuide.tsx
  client/src/contexts/Statistics.tsx
  client/src/contexts/controller.tsx
  client/src/contexts/sound.tsx
  client/src/contexts/starknet.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/hooks/useWebSocket.ts
  client/src/pages/MainPage.tsx
  client/src/stores/gameStore.ts
  client/src/utils/beasts.ts
  client/src/utils/styles.ts
  client/src/utils/utils.ts
Due: client

improve claude review workflow
  .github/workflows/claude-review.yml
Due: none

feat(ci): make agent reviews required status checks (#91)
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
Due: none

fmt
  contracts/src/systems/summit.cairo
Due: contracts

feat(ci): add vitest coverage for client and indexer with Codecov flags (#90)
  .github/workflows/test-client.yml
  .github/workflows/test-indexer.yml
  client/package.json
  client/pnpm-lock.yaml
  client/src/utils/translation.test.ts
  client/vitest.config.ts
  codecov.yml
  indexer/package-lock.json
  indexer/package.json
  indexer/pnpm-lock.yaml
  indexer/src/lib/decoder.test.ts
  indexer/vitest.config.ts
Due: none

fix(contracts): align fork test deploy calldata with summit constructor (#95)
  contracts/tests/test_summit.cairo
Due: none
