Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

fix(client): guard null owners in leaderboard address handling
  client/src/components/DiplomacyPopover.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/Leaderboard.test.tsx
  client/src/components/dialogs/LeaderboardModal.tsx
  client/src/utils/addressNameCache.ts
Due: client

Add beast-level targeted poison for autopilot
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

fix(client): prevent ws event crashes on null player addresses
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
Due: client

Fix autopilot stalling after successful summit capture
  client/src/components/ActionBar.tsx
Due: client

Fix concurrent poison+attack transactions causing error spam
  client/src/components/ActionBar.tsx
Due: client

Add three addresses to wallet whitelist
  client/.env
Due: none

Add address to wallet whitelist
  client/.env
Due: none

fix(indexer): patch apibara drizzle reorg trigger churn
  indexer/package.json
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

fix(indexer): include pnpm patches in docker build
  indexer/Dockerfile
Due: none

fix(indexer): mark reorg triggers registered after commit
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

Add 1HP snipe, poison schedule, rotate top beasts autopilot features
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

Set Apibara finality to pending
  indexer/indexers/summit.indexer.ts
Due: indexer

perf(indexer): avoid eager id extraction in reorg trigger
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

Revert "perf(indexer): avoid eager id extraction in reorg trigger"
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

perf(indexer): add covering index on rewards_earned(owner, amount)
  api/src/db/schema.ts
  indexer/migrations/0005_rewards_earned_leaderboard_index.sql
  indexer/migrations/meta/0005_snapshot.json
  indexer/migrations/meta/_journal.json
  indexer/src/lib/schema.ts
Due: indexer, api

fix(indexer): use IF NOT EXISTS in leaderboard index migration
  indexer/migrations/0005_rewards_earned_leaderboard_index.sql
Due: none

fix(indexer): set Railway restart policy to ALWAYS
  indexer/railway.json
Due: none

client: add dual-host deployment support for Vercel and Railway
  client/.dockerignore
  client/AGENTS.md
  client/Caddyfile
  client/Dockerfile
  client/README.md
  client/package.json
Due: none

fix(indexer): isolate invalidate from block reorg order key txn
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
  indexer/pnpm-lock.yaml
Due: none

Optimise autopilot quest logic and fix spend cap bugs
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

Add /market/totals endpoint for aggregated potion spend
  api/src/index.ts
Due: api

Fix spend cap drift, streak urgency gating, and quest swap edge cases
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

chore(client): wire Railway PR preview config
  client/.dockerignore
  client/Dockerfile
  client/README.md
  client/railway.json
  client/src/utils/networkConfig.ts
  client/src/vite-env.d.ts
Due: client

fix(client): clear lint debt in action bar and dialogs
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
Due: client

test(client): stabilize ActionBar and Leaderboard mocks
  client/src/components/ActionBar.test.tsx
  client/src/components/Leaderboard.test.tsx
Due: none

fix(client): harden railway docker build defaults and types
  client/Dockerfile
  client/package.json
  client/src/vite-env.d.ts
Due: none

test(client): add BeastCollection render coverage
  client/src/components/BeastCollection.test.tsx
Due: none

Show interactive potion buttons during autopilot mode
  client/src/components/ActionBar.tsx
Due: client

fix(client): ensure non-root runtime user exists in Railway image
  client/Dockerfile
Due: none

fix(client): fail fast env config and prevent API/WS split
  client/Dockerfile
  client/src/utils/networkConfig.ts
Due: client

fix(railway): scope preview guards and filter null leaderboard owners
  api/src/index.ts
  client/Dockerfile
  client/src/utils/networkConfig.ts
Due: client, api

fix(client): harden beast image paths for preview data drift
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

fix(client): guard websocket address parsing and diplomacy fetch
  client/src/api/summitApi.ts
  client/src/contexts/GameDirector.tsx
Due: client

chore: add Railway watch patterns for monorepo PR environments
  api/railway.json
  client/railway.json
  indexer/railway.json
Due: none

Add autopilot potion budget tracking to action bar
  client/src/components/ActionBar.tsx
Due: client

fix(api): keep /beasts/all total accurate on empty pages
  api/src/index.ts
Due: api

fix websocket client retention leak in subscription hub
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
Due: api

Revert "Merge branch 'feat/summit-updates'"
  api/src/index.ts
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client, api

fix: resolve all high Dependabot alerts across api, client, and indexer
  api/package-lock.json
  api/package.json
  api/pnpm-lock.yaml
  client/package.json
  client/pnpm-lock.yaml
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, indexer/indexers/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  api: any of: api/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
