Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

fix coverage test mocks
  client/src/components/Leaderboard.test.tsx
  client/src/contexts/Statistics.test.tsx
Due: none

fix client lint errors (#142)
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/Leaderboard.test.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/contexts/Statistics.test.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

ci: migrate Claude review jobs to claude-code-action v1 and add timeouts
  .github/workflows/pr-ci.yml
Due: none

ci: pin Claude reviews to Opus 4.7
  .github/workflows/pr-ci.yml
Due: none

ci: migrate Claude review jobs to claude-code-action v1 (#143)
  .github/workflows/pr-ci.yml
Due: none

ci: post Claude reviews from execution_file and fix general_review filter
  .github/workflows/pr-ci.yml
Due: none

ci: drop historical-context comments from review workflow
  .github/workflows/pr-ci.yml
Due: none

ci: fail Claude review job when execution_file is missing or empty
  .github/workflows/pr-ci.yml
Due: none

ci: post Claude reviews from execution_file; fix general_review filter (#145)
  .github/workflows/pr-ci.yml
Due: none

ci: iterate the JSON array root when extracting Claude review text
  .github/workflows/pr-ci.yml
Due: none

ci: harden Claude review extraction against multi-line, error, and missing output
  .github/workflows/pr-ci.yml
Due: none

ci: iterate JSON array root when extracting Claude review text (#146)
  .github/workflows/pr-ci.yml
Due: none

ci: factor Claude review extraction into a locally-testable script
  .github/fixtures/claude-execution-bad.json
  .github/fixtures/claude-execution-empty.json
  .github/fixtures/claude-execution-error.json
  .github/fixtures/claude-execution-success-with-high.json
  .github/fixtures/claude-execution-success.json
  .github/scripts/extract-claude-review.sh
  .github/scripts/test-extract-claude-review.sh
  .github/workflows/pr-ci.yml
Due: none

ci: factor Claude review extraction into a locally-testable script (#147)
  .github/fixtures/claude-execution-bad.json
  .github/fixtures/claude-execution-empty.json
  .github/fixtures/claude-execution-error.json
  .github/fixtures/claude-execution-success-with-high.json
  .github/fixtures/claude-execution-success.json
  .github/scripts/extract-claude-review.sh
  .github/scripts/test-extract-claude-review.sh
  .github/workflows/pr-ci.yml
Due: none

docs: cross-link AGENTS.md from per-scope READMEs
  api/README.md
  client/README.md
  contracts/README.md
Due: none

fix autopilot poison triggers
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useAutopilotOrchestrator.test.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

fix autopilot poison summit triggers
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useAutopilotOrchestrator.test.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

clean up locked beasts
  api/src/index.ts
  client/src/components/ActionBar.test.tsx
  client/src/components/BeastCard.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/GameNotificationFeed.tsx
  client/src/components/KilledByAdventurers.tsx
  client/src/components/dialogs/EventHistoryModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/stores/gameStore.ts
  client/src/types/game.ts
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
  indexer/apibara.config.ts
  indexer/indexers/summit.indexer.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: client, indexer, api

switch to new corpse and death mountain
  AGENTS.md
  README.md
  api/src/db/schema.ts
  api/src/index.ts
  client/.cache/eslint
  client/src/components/ProfileCard.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/controller.tsx
  client/src/dojo/useGameTokens.test.tsx
  client/src/dojo/useGameTokens.ts
  client/src/dojo/useSystemCalls.ts
  client/src/types/game.ts
  client/src/utils/networkConfig.ts
  client/src/utils/utils.ts
  client/tsconfig.tsbuildinfo
  indexer/apibara.config.ts
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0004_corpse_new_events.sql
  indexer/migrations/meta/_journal.json
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: client, indexer, api

use denshokan instead of torii
  api/src/index.ts
Due: api

fix skull event indexing
  indexer/indexers/summit.indexer.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
Due: indexer

add new beast minted subscription
  api/AGENTS.md
  api/src/index.ts
  api/src/ws/subscriptions.ts
  indexer/migrations/0005_beast_insert_trigger.sql
Due: api

remove beast lock check
  contracts/snfoundry.toml
  contracts/src/systems/summit.cairo
Due: contracts

Add Starknet RPC indexer path
  indexer/README.md
  indexer/apibara.config.ts
  indexer/migrations/0006_rpc_cursor_and_snapshots.sql
  indexer/migrations/meta/_journal.json
  indexer/package.json
  indexer/pnpm-lock.yaml
  indexer/src/lib/config.ts
  indexer/src/lib/rpc-persistence.test.ts
  indexer/src/lib/rpc-persistence.ts
  indexer/src/lib/schema.ts
  indexer/src/lib/starknet-rpc-events.test.ts
  indexer/src/lib/starknet-rpc-events.ts
  indexer/src/lib/summit-processor.ts
  indexer/src/rpc-indexer.ts
Due: indexer

Fix RPC indexer local test database setup
  indexer/migrations/0007_consumables.sql
  indexer/migrations/meta/_journal.json
  indexer/src/rpc-indexer.ts
Due: indexer

Remove stale summit.game metadata
  client/index.html
Due: none

Remove stale summit.game metadata (#150)
  client/index.html
Due: none

ci: use organization review settings and ARM runners
  .github/workflows/pr-ci.yml
Due: none

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, indexer/indexers/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  api: any of: api/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
