Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer

fix(ci): make missing Claude review comment non-blocking (#97)
  .github/workflows/claude-review.yml
Due: none

Rename kill to skull
  client/src/assets/images/skull-token.png
  client/src/components/ClaimRewardsButton.tsx
  client/src/components/GameNotificationFeed.tsx
  client/src/components/ProfileCard.tsx
  client/src/components/dialogs/BeastUpgradeModal.tsx
  client/src/components/dialogs/EventHistoryModal.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/SummitGiftModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  contracts/src/models/events.cairo
  contracts/src/systems/summit.cairo
Due: contracts, client

sync migrations
  api/src/db/client.ts
  indexer/migrations/0000_tables.sql
  indexer/migrations/0002_boolean_flags.sql
  indexer/migrations/meta/0000_snapshot.json
  indexer/migrations/meta/_journal.json
Due: none

refactor: standardize summit flag fields to booleans (#92)
  api/src/db/schema.ts
  api/src/index.ts
  api/src/ws/subscriptions.ts
  client/src/api/starknet.ts
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0001_triggers.sql
  indexer/migrations/0002_boolean_flags.sql
  indexer/migrations/meta/_journal.json
  indexer/scripts/test-live-beast-stats-parity.ts
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: client, indexer

ci: improve review workflows with comment dedup and contract docs (#96)
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
Due: none

fix: bool-flag followups (#94)
  client/src/api/starknet.test.ts
  client/src/api/starknet.ts
  contracts/CLAUDE.md
  indexer/src/lib/decoder.test.ts
Due: client

fix(api): sync npm lockfile for railway deploy
  api/Dockerfile
  api/package-lock.json
Due: none

client: make strict tsconfig default and harden game action types
  client/AGENTS.md
  client/eslint.config.js
  client/src/types/game.ts
  client/tsconfig.json
Due: client

ci: unify PR checks into single orchestrated workflow (#98)
  .github/workflows/claude-review.yml
  .github/workflows/codex-review.yml
  .github/workflows/pr-ci.yml
  .github/workflows/test-client.yml
  .github/workflows/test-indexer.yml
  contracts/.tool-versions
Due: none

test release
  client/public/images/survivor_token.png
  client/public/images/survivor_token_2.png
  client/src/components/Countdown.tsx
  client/src/components/DiplomacyPopover.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/Leaderboard.test.tsx
  client/src/components/dialogs/QuestsModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/utils/networkConfig.ts
  client/tsconfig.tsbuildinfo
Due: client

fix indexer build
  indexer/Dockerfile
Due: none

client: type network token config and top-up modal
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/utils/networkConfig.ts
Due: client

refactor(contracts): extract inline tests to dedicated tests directory
  contracts/src/logic/beast_utils.cairo
  contracts/src/logic/combat.cairo
  contracts/src/logic/poison.cairo
  contracts/src/logic/quest.cairo
  contracts/src/logic/revival.cairo
  contracts/src/models/beast.cairo
  contracts/tests/fixtures.cairo
  contracts/tests/fixtures/addresses.cairo
  contracts/tests/fixtures/constants.cairo
  contracts/tests/fork.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers.cairo
  contracts/tests/helpers/beast_builder.cairo
  contracts/tests/helpers/deployment.cairo
  contracts/tests/lib.cairo
  contracts/tests/unit.cairo
  contracts/tests/unit/logic.cairo
  contracts/tests/unit/logic/test_beast_utils.cairo
  contracts/tests/unit/logic/test_combat.cairo
  contracts/tests/unit/logic/test_poison.cairo
  contracts/tests/unit/logic/test_quest.cairo
  contracts/tests/unit/logic/test_revival.cairo
  contracts/tests/unit/models.cairo
  contracts/tests/unit/models/test_beast_packing.cairo
  contracts/tests/unit/models/test_beast_stats.cairo
Due: contracts

deploy summit
  client/.env
  indexer/apibara.config.ts
Due: none

fix: next blockers and add push-safe main CI (#110)
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/pr-ci.yml
  api/README.md
  api/src/db/client.test.ts
  api/src/db/client.ts
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/controller.tsx
  client/src/dojo/useGameTokens.ts
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers/deployment.cairo
  indexer/migrations/0002_beast_stats_flags_and_trigger_refresh.sql
  indexer/migrations/meta/_journal.json
Due: contracts, client

chore(ci): lower client/indexer/api coverage targets to 60
  codecov.yml
Due: none

client: type event translation pipeline end-to-end
  client/src/contexts/GameDirector.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/utils/translation.ts
Due: client

client: add strict typecheck config and first null-safety pass
  client/package.json
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/BeastProfile.tsx
  client/src/components/Summit.tsx
  client/src/contexts/GameDirector.tsx
  client/tsconfig.strict.json
Due: client

client: remove remaining any usage in marketplace flows
  client/src/api/ekubo.ts
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/SummitGiftModal.tsx
Due: client

client: harden strict typing in tx and balance flows
  client/src/api/starknet.ts
  client/src/components/ActionBar.tsx
  client/src/components/Summit.tsx
  client/src/contexts/GameDirector.tsx
  client/src/contexts/controller.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

feat: optimize agent and readme files (#100)
  AGENTS.md
  GEMINI.md
  README.md
  api/AGENTS.md
  api/CLAUDE.md
  api/GEMINI.md
  api/README.md
  client/AGENTS.md
  client/CLAUDE.md
  client/GEMINI.md
  client/README.md
  contracts/AGENTS.md
  contracts/CLAUDE.md
  contracts/GEMINI.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/CLAUDE.md
  indexer/GEMINI.md
  indexer/README.md
Due: none

client: clear strict typecheck errors across remaining modules
  client/src/api/ekubo.ts
  client/src/api/starknet.ts
  client/src/components/AttackingBeasts.tsx
  client/src/components/Icons.tsx
  client/src/components/ProfileCard.tsx
  client/src/components/dialogs/BeastDexModal.tsx
  client/src/components/dialogs/ConnectWallet.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/starknet.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/utils/beasts.ts
Due: client

test: comprehensive test coverage for indexer, client, and API (#107)
  .github/workflows/pr-ci.yml
  api/package.json
  api/pnpm-lock.yaml
  api/src/index.ts
  api/src/lib/beastData.test.ts
  api/src/lib/helpers.test.ts
  api/src/lib/helpers.ts
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  api/tsconfig.json
  api/vitest.config.ts
  client/src/utils/beasts.test.ts
  client/src/utils/utils.test.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
Due: indexer

fix(api): default to SSL enabled in production instead of throwing
  api/src/db/client.test.ts
  api/src/db/client.ts
Due: none

client: type potion selection inputs and cover with tests
  client/src/components/ActionBar.tsx
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

fix(contracts): address PR #105 review feedback
  contracts/AGENTS.md
  contracts/README.md
  contracts/tests/unit/logic/test_poison.cairo
Due: none

test(client): remove last explicit-any test casts and prune suppressions
  client/.eslint-suppressions.json
  client/src/components/Leaderboard.test.tsx
  client/src/utils/beasts.test.ts
Due: none

docs: comprehensive agent and readme improvements (#103)
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  api/src/index.ts
  client/AGENTS.md
  client/README.md
  contracts/AGENTS.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/Dockerfile
  indexer/README.md
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

chore(ci): align pr-ci.yml with main branch
  .github/workflows/pr-ci.yml
Due: none

hide summit before it begins
  client/src/components/Summit.tsx
Due: client

allow upgrades before beginning
  contracts/src/systems/summit.cairo
Due: contracts

fix double poison bug
  client/src/contexts/GameDirector.tsx
Due: client

fix(client): fail fast safe attack target and assert price display
  client/src/contexts/GameDirector.tsx
  client/src/contexts/Statistics.test.tsx
  client/src/dojo/useSystemCalls.ts
Due: client

fix quest reward remaining
  client/src/api/summitApi.ts
Due: client

fix(client,ci): harden quote safety and review gating
  .github/workflows/pr-ci.yml
  client/src/api/ekubo.test.ts
  client/src/api/ekubo.ts
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/Leaderboard.test.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/controller.tsx
Due: client

fix: resolve PR109 review follow-ups across contracts/indexer/client
  client/src/api/summitApi.test.ts
  client/src/api/summitApi.ts
  client/src/components/Leaderboard.test.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/contexts/Statistics.tsx
  codecov.yml
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
  indexer/indexers/summit.indexer.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
Due: contracts, client, indexer

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, api/, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, api/, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, api/, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
