Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer

codecov.yml:

comment:
  layout: "diff, flags, files, header, footer"
  behavior: default

flags:
  contracts:
    paths:
      - contracts/src/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true
  indexer:
    paths:
      - indexer/src/
    carryforward: true

coverage:
  range: 90..100
  status:
    project:
      contracts:
        target: auto
        flags:
          - contracts
      client:
        target: auto
        flags:
          - client
      indexer:
        target: auto
        flags:
          - indexer
    patch:
      default:
        target: 90%
        threshold: 4%

ignore:
  # Test files
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/scripts/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"

  # No test infrastructure
  - "api/"

  # Infrastructure & configuration
  - ".github/"
  - ".devcontainer/"
  - "data-snapshot/"

  # Generated artifacts & non-source assets
  - "**/assets/**"
  - "contracts/gas_reports/"

github_checks:
  annotations: false

deploy summit
  client/.env
  indexer/apibara.config.ts
Due: none

fix indexer build
  indexer/Dockerfile
Due: none

test release
  client/public/images/survivor_token.png
  client/public/images/survivor_token_2.png
  client/src/components/Countdown.tsx
  client/src/components/DiplomacyPopover.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/Leaderboard.test.tsx
  client/src/components/dialogs/QuestsModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/utils/networkConfig.ts
  client/tsconfig.tsbuildinfo
Due: client

docs: consolidate monorepo documentation for human and agent workflows
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  api/AGENTS.md
  api/README.md
  client/AGENTS.md
  client/CLAUDE.md
  client/GEMINI.md
  client/README.md
  contracts/AGENTS.md
  contracts/CLAUDE.md
  contracts/GEMINI.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/README.md
Due: none

Improve all README and AGENTS.md files based on cross-repo comparison review
  AGENTS.md
  CLAUDE.md
  README.md
  api/AGENTS.md
  api/README.md
  client/AGENTS.md
  client/CLAUDE.md
  client/README.md
  contracts/AGENTS.md
  contracts/CLAUDE.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/README.md
Due: none

Fix doc inaccuracies and consolidate agent files with CLAUDE.md/GEMINI.md redirects
  CLAUDE.md
  README.md
  api/CLAUDE.md
  api/GEMINI.md
  api/README.md
  client/CLAUDE.md
  client/GEMINI.md
  contracts/CLAUDE.md
  contracts/GEMINI.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/CLAUDE.md
  indexer/GEMINI.md
Due: none

docs: refresh README/AGENTS guides and add agent aliases
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  api/AGENTS.md
  api/CLAUDE.md
  api/GEMINI.md
  api/README.md
  client/AGENTS.md
  client/CLAUDE.md
  client/GEMINI.md
  client/README.md
  contracts/AGENTS.md
  contracts/CLAUDE.md
  contracts/GEMINI.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/CLAUDE.md
  indexer/GEMINI.md
  indexer/README.md
Due: none

docs: clarify rpc usage across test, indexer, and deploy contexts
  AGENTS.md
  README.md
  contracts/README.md
Due: none

Fix 9 doc inaccuracies from PR review feedback
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  client/AGENTS.md
  client/README.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/README.md
Due: none

Replace CI workflows with unified pr-ci.yml and add review prompts
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/general-purpose.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-ci.yml
  .github/workflows/test-contract.yml
Due: none

Replace CI workflows with unified pr-ci.yml and add review prompts (#102)
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/general-purpose.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-ci.yml
  .github/workflows/test-contract.yml
Due: none

feat: optimize agent and readme files (#100)
  AGENTS.md
  GEMINI.md
  README.md
  api/AGENTS.md
  api/CLAUDE.md
  api/GEMINI.md
  api/README.md
  client/AGENTS.md
  client/CLAUDE.md
  client/GEMINI.md
  client/README.md
  contracts/AGENTS.md
  contracts/CLAUDE.md
  contracts/GEMINI.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/CLAUDE.md
  indexer/GEMINI.md
  indexer/README.md
Due: none

docs: refresh README/AGENTS guides and add agent aliases
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  client/AGENTS.md
  client/README.md
  contracts/AGENTS.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/README.md
Due: none

docs: consolidate monorepo documentation for human and agent workflows
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  client/AGENTS.md
  client/README.md
  contracts/AGENTS.md
  contracts/README.md
  contracts/SUMMIT_SECURITY_AUDIT.md
  indexer/AGENTS.md
  indexer/README.md
Due: none

fix(ci): prevent AI review comments from overwriting each other
  .github/workflows/pr-ci.yml
Due: none

refactor(contracts): extract inline tests to dedicated tests directory
  contracts/src/logic/beast_utils.cairo
  contracts/src/logic/combat.cairo
  contracts/src/logic/poison.cairo
  contracts/src/logic/quest.cairo
  contracts/src/logic/revival.cairo
  contracts/src/models/beast.cairo
  contracts/tests/fixtures.cairo
  contracts/tests/fixtures/addresses.cairo
  contracts/tests/fixtures/constants.cairo
  contracts/tests/fork.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers.cairo
  contracts/tests/helpers/beast_builder.cairo
  contracts/tests/helpers/deployment.cairo
  contracts/tests/lib.cairo
  contracts/tests/unit.cairo
  contracts/tests/unit/logic.cairo
  contracts/tests/unit/logic/test_beast_utils.cairo
  contracts/tests/unit/logic/test_combat.cairo
  contracts/tests/unit/logic/test_poison.cairo
  contracts/tests/unit/logic/test_quest.cairo
  contracts/tests/unit/logic/test_revival.cairo
  contracts/tests/unit/models.cairo
  contracts/tests/unit/models/test_beast_packing.cairo
  contracts/tests/unit/models/test_beast_stats.cairo
Due: contracts

docs: address PR #103 review feedback
  AGENTS.md
  api/AGENTS.md
  api/README.md
  api/src/index.ts
  client/README.md
  contracts/SUMMIT_SECURITY_AUDIT.md
  indexer/AGENTS.md
  indexer/Dockerfile
  indexer/README.md
Due: none

fix(contracts): address PR #105 review feedback
  contracts/AGENTS.md
  contracts/README.md
  contracts/tests/unit/logic/test_poison.cairo
Due: none

fix(indexer): add direct apibara protocol dependency for check-dna
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

docs: tighten onboarding and contract test path references
  README.md
  contracts/AGENTS.md
  contracts/README.md
Due: none

test: add comprehensive test coverage for indexer, client, and API
  .github/workflows/pr-ci.yml
  api/package.json
  api/pnpm-lock.yaml
  api/src/index.ts
  api/src/lib/beastData.test.ts
  api/src/lib/helpers.test.ts
  api/src/lib/helpers.ts
  api/src/ws/subscriptions.test.ts
  api/tsconfig.json
  api/vitest.config.ts
  client/src/utils/beasts.test.ts
  client/src/utils/utils.test.ts
  indexer/src/lib/decoder.test.ts
Due: none

docs: use safer cairo-coverage install guidance
  README.md
Due: none

test: address PR review feedback on test quality
  api/src/ws/subscriptions.test.ts
  client/src/utils/beasts.test.ts
  client/src/utils/utils.test.ts
  indexer/src/lib/decoder.test.ts
Due: none

fix: address review feedback for feltToHex and subscription response
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
Due: indexer

fix: exclude test files from coverage reports
  api/vitest.config.ts
  indexer/vitest.config.ts
Due: none

docs: comprehensive agent and readme improvements (#103)
  AGENTS.md
  README.md
  api/AGENTS.md
  api/README.md
  api/src/index.ts
  client/AGENTS.md
  client/README.md
  contracts/AGENTS.md
  contracts/README.md
  indexer/AGENTS.md
  indexer/Dockerfile
  indexer/README.md
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

test: comprehensive test coverage for indexer, client, and API (#107)
  .github/workflows/pr-ci.yml
  api/package.json
  api/pnpm-lock.yaml
  api/src/index.ts
  api/src/lib/beastData.test.ts
  api/src/lib/helpers.test.ts
  api/src/lib/helpers.ts
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  api/tsconfig.json
  api/vitest.config.ts
  client/src/utils/beasts.test.ts
  client/src/utils/utils.test.ts
  indexer/src/lib/decoder.test.ts
  indexer/src/lib/decoder.ts
Due: indexer

ci: add API test coverage and Codecov upload to PR workflow
  .github/workflows/pr-ci.yml
Due: none

ci: add API test coverage and Codecov upload to PR workflow (#108)
  .github/workflows/pr-ci.yml
Due: none

fix(api): sync npm lockfile for railway deploy
  api/Dockerfile
  api/package-lock.json
Due: none

chore(ci): lower client/indexer/api coverage targets to 60
  codecov.yml
Due: none

Fix PR109 blockers and add push-safe main CI
  .github/prompts/cairo-review.md
  .github/prompts/client-review.md
  .github/prompts/indexer-review.md
  .github/pull_request_template.md
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  api/README.md
  api/src/db/client.ts
  client/src/components/ActionBar.tsx
  client/src/contexts/controller.tsx
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
  indexer/migrations/0002_beast_stats_flags_and_trigger_refresh.sql
  indexer/migrations/meta/_journal.json
Due: contracts, client

Fix pr-ci job conditions to avoid secrets in if
  .github/workflows/pr-ci.yml
Due: none

fix: address PR #109 AI review findings (H2, H5-H8, M5)
  .github/pull_request_template.md
  .github/workflows/pr-ci.yml
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers/deployment.cairo
Due: contracts

Simplify Claude review parsing by removing run marker requirement
  .github/workflows/pr-ci.yml
Due: none

client: add strict typecheck config and first null-safety pass
  client/package.json
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/BeastProfile.tsx
  client/src/components/Summit.tsx
  client/src/contexts/GameDirector.tsx
  client/tsconfig.strict.json
Due: client

client: clear strict typecheck errors across remaining modules
  client/src/api/ekubo.ts
  client/src/api/starknet.ts
  client/src/components/AttackingBeasts.tsx
  client/src/components/Icons.tsx
  client/src/components/ProfileCard.tsx
  client/src/components/dialogs/BeastDexModal.tsx
  client/src/components/dialogs/ConnectWallet.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/controller.test.tsx
  client/src/contexts/starknet.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/utils/beasts.ts
Due: client
