Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

Migrate client to new summit (#125)
  README.md
  client/.env
  client/src/contexts/starknet.tsx
  client/src/dojo/useGameTokens.ts
  client/src/pages/MainPage.tsx
  indexer/apibara.config.ts
Due: client

add
  client/src/dojo/useGameTokens.ts
Due: client

use preset
  client/src/contexts/starknet.tsx
Due: client

more autopilot configs
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/tsconfig.tsbuildinfo
Due: client

add token supply to leaderboard
  client/src/api/summitApi.ts
  client/src/components/Leaderboard.jsx
  client/src/contexts/Statistics.tsx
Due: client

Feat/autopilot v2 (#126)
  client/src/api/summitApi.ts
  client/src/components/ActionBar.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/contexts/Statistics.tsx
  client/src/stores/autopilotStore.ts
  client/tsconfig.tsbuildinfo
Due: client

add dca
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/contexts/Statistics.tsx
  client/src/utils/networkConfig.ts
  client/tsconfig.tsbuildinfo
Due: client

fix dca calldata
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
  client/tsconfig.tsbuildinfo
Due: client

get dca info
  client/src/api/ekubo.ts
Due: client

fix dca info
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
Due: client

use api to fetch dca
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
Due: client

we
  client/src/components/dialogs/DCATab.tsx
Due: client

fix fetchign active orders
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
Due: client

fix
  client/src/components/dialogs/DCATab.tsx
Due: client

show earned amount
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
Due: client

fix
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
Due: client

design
  client/src/components/dialogs/DCATab.tsx
Due: client

clean up
  client/src/components/dialogs/DCATab.tsx
Due: client

clean up
  client/src/contexts/Statistics.tsx
  client/src/utils/networkConfig.ts
Due: client

remove tranfer from session
  client/src/utils/networkConfig.ts
Due: client

padding
  client/src/components/dialogs/DCATab.tsx
Due: client

allow decimals
  client/src/components/dialogs/DCATab.tsx
Due: client

DCA (#127)
  client/src/api/ekubo.ts
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/utils/networkConfig.ts
  client/tsconfig.tsbuildinfo
Due: client

Add DB retention cleanup for append-only history tables
  indexer/migrations/0004_retention_cleanup.sql
  indexer/package.json
  indexer/scripts/cleanup-history.ts
Due: none

chore(indexer): upgrade apibara and switch to accepted finality
  indexer/indexers/summit.indexer.ts
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: indexer

add memory logging
  indexer/indexers/summit.indexer.ts
Due: indexer

add consumables table migration
  indexer/migrations/0003_consumables.sql
Due: none

register consumables migration in drizzle journal
  indexer/migrations/meta/_journal.json
Due: none

chore(indexer): bump drizzle-orm to 0.45.1
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

chore(indexer): bump pg and @types/pg to latest
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

fix(observability): address metrics review findings
  README.md
  api/src/index.ts
  api/src/lib/metrics.ts
  indexer/indexers/summit.indexer.ts
  indexer/package.json
  indexer/scripts/railway-metrics-summary.mjs
  indexer/src/lib/metrics.ts
  scripts/check-metrics-sync.mjs
Due: indexer, api

fix(api): reduce hot-path logging with sampled structured logs
  api/src/db/client.test.ts
  api/src/db/client.ts
  api/src/index.ts
  api/src/lib/logging.ts
  api/src/ws/subscriptions.ts
Due: api

perf(api): add thin strategic response cache
  api/.gitignore
  api/AGENTS.md
  api/README.md
  api/src/index.ts
  api/src/lib/cache.test.ts
  api/src/lib/cache.ts
Due: api

perf(api,indexer): optimize hot queries and add index support
  api/AGENTS.md
  api/README.md
  api/src/db/schema.ts
  api/src/index.ts
  indexer/.gitignore
  indexer/migrations/0004_api_perf_indexes.sql
  indexer/migrations/meta/_journal.json
  indexer/src/lib/schema.ts
Due: indexer, api

Add wallet whitelist gate for restricted access deployments
  client/.env
  client/src/components/AccessDeniedModal.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/contexts/controller.tsx
  client/src/pages/MainPage.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
  client/tsconfig.tsbuildinfo
Due: client

Add packageManager field for Vercel pnpm compatibility
  client/package.json
Due: none

chore(api): add stress test runner script
  api/package.json
  api/scripts/stress-test.ts
Due: none

docs(indexer): add stress-test benchmarking guidance
  indexer/AGENTS.md
Due: none

chore(client): point API host to summit-api-production-ca43
  client/src/utils/networkConfig.ts
Due: client

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, indexer/indexers/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  api: any of: api/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
