Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

revert
  api/src/index.ts
Due: api

copy
  client/src/components/Countdown.tsx
Due: client

fix total cost marketplace
  client/src/api/ekubo.test.ts
  client/src/api/ekubo.ts
Due: client

fix(client): resolve no-loss-of-precision lint error in ekubo test
  client/src/api/ekubo.test.ts
Due: none

fix(client): align Statistics test mock with USDC 6-decimal scale
  client/src/contexts/Statistics.test.tsx
Due: none

fix(client): resolve no-loss-of-precision lint error in ekubo test (#120)
  client/src/api/ekubo.test.ts
  client/src/contexts/Statistics.test.tsx
Due: none

simplify readme
  README.md
Due: none

set correct "alive" count
  client/src/components/Leaderboard.jsx
Due: client

add consumables to indexer
  api/src/db/schema.ts
  api/src/index.ts
  indexer/apibara.config.ts
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0003_mighty_blackheart.sql
  indexer/migrations/meta/0003_snapshot.json
  indexer/migrations/meta/_journal.json
  indexer/src/lib/decoder.ts
  indexer/src/lib/schema.ts
Due: indexer, api

remove journal entry
  indexer/migrations/0003_mighty_blackheart.sql
  indexer/migrations/meta/0003_snapshot.json
  indexer/migrations/meta/_journal.json
Due: none

set correct consumable addresses
  indexer/apibara.config.ts
Due: none

fix consumeables indexing
  indexer/indexers/summit.indexer.ts
Due: indexer

add market events
  client/src/components/GameNotificationFeed.tsx
  client/src/components/dialogs/EventHistoryModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/stores/gameStore.ts
  client/tsconfig.tsbuildinfo
  indexer/indexers/summit.indexer.ts
Due: client, indexer

fix playerName for market actions
  indexer/indexers/summit.indexer.ts
Due: indexer

fix: resolve all high Dependabot alerts (tar, valibot, h3)
  client/package-lock.json
  client/package.json
  indexer/package-lock.json
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

fix: regenerate client lockfile to record h3 override
  client/pnpm-lock.yaml
Due: none

fix: tighten h3 override to ^1.15.5 to prevent v2 breakage
  client/package.json
  client/pnpm-lock.yaml
Due: none

try to fix poison_timestamp being set incorrectly
  client/src/contexts/GameDirector.tsx
Due: client

Client improvements
  client/src/components/BeastCollection.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/stores/autopilotStore.ts
  client/src/stores/gameStore.ts
Due: client

fix diplomacy dissappearing
  client/src/components/Summit.tsx
  client/src/contexts/GameDirector.tsx
Due: client

improve marketplace & remove conservative poison strategy
  client/src/assets/images/lords.png
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/utils/networkConfig.ts
  client/tsconfig.tsbuildinfo
Due: client

fix
  client/src/components/ActionBar.tsx
Due: client

lower default autopilot values
  client/src/components/ActionBar.tsx
  client/src/stores/autopilotStore.ts
Due: client

Autopilot improvements
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
Due: client

only show rewards if gte 0.5 survivor
  client/src/components/ClaimRewardsButton.tsx
Due: client

fix: poison damage off-by-one consuming one fewer extra life than intended
  contracts/src/logic/poison.cairo
  contracts/tests/unit/logic/test_poison.cairo
Due: contracts

address PR review: add explanatory comments for poison fix
  contracts/src/logic/poison.cairo
Due: contracts

test(poison): add boundary vectors for life/1hp thresholds
  contracts/tests/unit/logic/test_poison.cairo
Due: none

add migrate endpoints
  contracts/src/systems/summit.cairo
  contracts/tests/fixtures/addresses.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers/deployment.cairo
Due: contracts

add upgradeable
  contracts/src/systems/summit.cairo
Due: contracts

add migrating box
  client/src/components/Migrating.tsx
  client/src/pages/MainPage.tsx
Due: client

add get_live_stats_packed
  contracts/src/systems/summit.cairo
Due: contracts

add setter for summit_duration
  contracts/src/systems/summit.cairo
Due: contracts

New Summit with ability to migrate storage (#123)
  contracts/src/logic/poison.cairo
  contracts/src/systems/summit.cairo
  contracts/tests/fixtures/addresses.cairo
  contracts/tests/fork/test_summit.cairo
  contracts/tests/helpers/deployment.cairo
  contracts/tests/unit/logic/test_poison.cairo
Due: contracts

Update migration description text
  client/src/components/Migrating.tsx
Due: client

set address
  README.md
  client/.env
  client/src/dojo/useGameTokens.ts
  indexer/apibara.config.ts
Due: client

override preset
  client/src/contexts/starknet.tsx
Due: client

add migrating box (#124)
  client/src/components/Migrating.tsx
  client/src/pages/MainPage.tsx
Due: client

remove migration box
  client/src/pages/MainPage.tsx
Due: client

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, indexer/indexers/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  api: any of: api/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
