Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

refactor(contracts): modernize Summit loops to idiomatic Cairo syntax
  contracts/src/systems/summit.cairo
Due: contracts

chore(codecov): lower client/indexer/api coverage targets to 35%
  codecov.yml
Due: none

style(contracts): avoid loop-variable shadowing in summit refactor
  contracts/src/systems/summit.cairo
Due: contracts

fix: prevent paused updates on safe-attack validation failure
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
  indexer/eslint.config.js
  indexer/migrations/meta/_journal.json
Due: client

allow upgrades before summit start
  api/src/index.ts
  contracts/Scarb.lock
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
Due: contracts, api

client: enable strict TypeScript mode and remove explicit any debt (#112)
  .github/workflows/pr-ci.yml
  api/eslint.config.js
  api/package.json
  api/pnpm-lock.yaml
  api/src/index.ts
  client/eslint.config.js
  client/src/api/starknet.ts
  client/src/components/Icons.tsx
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
  client/src/contexts/Statistics.test.tsx
  client/src/dojo/useSystemCalls.ts
  client/src/utils/translation.ts
  indexer/eslint.config.js
  indexer/indexers/summit.indexer.ts
  indexer/package.json
  indexer/pnpm-lock.yaml
  indexer/src/lib/decoder.ts
Due: client, indexer, api

remove obsolete files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  client/ESLINT_ROLLOUT.md
  client/mobile-improvements/suggestions.md
  contracts/.DS_Store
  contracts/.github/mark-dark.svg
  contracts/.github/mark-light.svg
  contracts/.github/workflows/test.yaml
  contracts/.gitignore
  contracts/.vscode/settings.json
  contracts/LICENSE
  contracts/assets/cover.png
  contracts/assets/icon.png
  contracts/gas_reports/baseline_stock.md
  contracts/gas_reports/function_defs.md
  contracts/gas_reports/function_specific_gas_checks.md
  contracts/gas_reports/optimization_analysis.md
  contracts/gas_reports/optimized_gas.md
  quests.txt
Due: none

fix typo in readme
  contracts/README.md
Due: none

fix(api): sync npm lockfile and enforce npm-ci parity check
  .github/workflows/pr-ci.yml
  api/package-lock.json
Due: none

fix: remove unused start image preload
  client/index.html
Due: none

refactor(contracts): modernize Summit loop syntax (#114)
  contracts/src/systems/summit.cairo
Due: contracts

hide quest claim when pool is empty
  client/src/components/ClaimRewardsButton.tsx
  client/src/components/dialogs/LeaderboardModal.tsx
  client/src/contexts/Statistics.tsx
Due: client

fix(client): unblock CI tests in node env
  client/src/contexts/Statistics.test.tsx
  client/src/stores/gameStore.ts
Due: client

allow one attack after end to finalize history
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
Due: contracts

add tests and view functions
  contracts/src/systems/summit.cairo
  contracts/tests/fork/test_summit.cairo
Due: contracts

test release
  client/.env
  client/src/components/Leaderboard.jsx
  client/src/components/RewardsRemainingBar.tsx
  client/src/utils/summitRewards.ts
  indexer/apibara.config.ts
Due: client

set variables
  client/src/contexts/GameDirector.tsx
Due: client

optimistic stat upgrades
  client/src/components/dialogs/BeastUpgradeModal.tsx
  client/src/contexts/GameDirector.tsx
Due: client

fix diplomacy not showing up
  client/src/components/DiplomacyPopover.tsx
  client/src/contexts/GameDirector.tsx
Due: client

build
  client/src/contexts/Statistics.test.tsx
  client/tsconfig.tsbuildinfo
Due: none

add bulk att potion and number
  client/src/components/BeastCollection.tsx
Due: client

Clean up test money
  client/src/api/ekubo.ts
  client/src/assets/images/usdc.svg
  client/src/components/ProfileCard.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
  client/src/components/dialogs/TopUpStrkModal.tsx
  client/src/contexts/Statistics.tsx
  client/src/utils/networkConfig.ts
Due: client

deploy release
  client/.env
  client/src/utils/networkConfig.ts
  indexer/apibara.config.ts
Due: client

set client configs
  client/src/contexts/GameDirector.tsx
Due: client

docs: add production token metadata and voyager links
  README.md
Due: none

docs: simplify production token table
  README.md
Due: none

Remove Dojo World contract address
  README.md
Due: none

docs: add production tokens to readme (#116)
  README.md
Due: none

update readme
  README.md
Due: none

Update Mainnet Reference table
  README.md
Due: none

Update Mainnet reference contract labels
  README.md
Due: none

Update Useful Links in README
  README.md
Due: none

update tokens in controller
  client/src/utils/networkConfig.ts
Due: client

fix potion price
  client/src/contexts/Statistics.tsx
Due: client

update marketplace link
  client/src/components/BeastCollection.tsx
Due: client

add TOS & intro tooltip
  client/src/components/ClaimRewardsButton.tsx
  client/src/components/QuestBoard.tsx
  client/src/components/TermsOfServiceModal.tsx
  client/src/contexts/controller.tsx
  client/src/pages/MainPage.tsx
Due: client

use preset
  client/src/contexts/starknet.tsx
Due: client

new beasts should be alive
  api/src/index.ts
Due: api

Path conditions:
  contracts: any of: contracts/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  client: any of: client/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  indexer: any of: indexer/src/, indexer/indexers/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
  api: any of: api/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/scripts/**, **/coverage/**, **/dist/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, .github/, .devcontainer/, data-snapshot/, **/assets/**, contracts/gas_reports/
