Repository Provable-Games/summit: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, client, indexer, api

codecov.yml:

comment:
  layout: "diff, flags, files, header, footer"
  behavior: default

flags:
  contracts:
    paths:
      - contracts/src/
    carryforward: true
  client:
    paths:
      - client/src/
    carryforward: true
  indexer:
    paths:
      - indexer/src/
      - indexer/indexers/
    carryforward: true
  api:
    paths:
      - api/src/
    carryforward: true

coverage:
  range: 60..100
  status:
    project:
      contracts:
        target: auto
        flags:
          - contracts
      client:
        target: 60%
        flags:
          - client
      indexer:
        target: 60%
        flags:
          - indexer
      api:
        target: 60%
        flags:
          - api
    patch:
      default:
        target: 90%
        threshold: 4%
        flags:
          - contracts
      client:
        target: 60%
        threshold: 4%
        flags:
          - client
      indexer:
        target: 60%
        threshold: 4%
        flags:
          - indexer
      api:
        target: 60%
        threshold: 4%
        flags:
          - api

ignore:
  # Test files
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/scripts/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"

  # Infrastructure & configuration
  - ".github/"
  - ".devcontainer/"
  - "data-snapshot/"

  # Generated artifacts & non-source assets
  - "**/assets/**"
  - "contracts/gas_reports/"

github_checks:
  annotations: false

fix: add h3 override and delete stale npm lockfiles
  client/package-lock.json
  client/package.json
  client/pnpm-lock.yaml
  indexer/package-lock.json
Due: none

fix: tighten override ranges to caret bounds per review feedback
  api/package.json
  api/pnpm-lock.yaml
  client/package.json
  client/pnpm-lock.yaml
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

fix: restore api/package-lock.json for Docker builds
  api/package-lock.json
Due: none

fix: resolve client lint errors and warnings for CI
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/BeastCollection.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/DCATab.tsx
  client/src/components/dialogs/MarketplaceModal.tsx
Due: client

fix: add missing mock fields to Leaderboard test fixture
  client/src/components/Leaderboard.test.tsx
Due: none

fix: guard addAddressPadding against empty address before wallet connection
  client/src/contexts/GameDirector.tsx
Due: client

fix: upgrade react-router-dom to 6.30.3 and narrow useMemo deps
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/BeastCollection.tsx
Due: client

refactor: replace eslint-disable with proper summitSnapshot memo
  client/src/components/BeastCollection.tsx
  client/src/utils/beasts.ts
Due: client

Revert "refactor: replace eslint-disable with proper summitSnapshot memo"
  client/src/components/BeastCollection.tsx
  client/src/utils/beasts.ts
Due: client

fix: drop redundant h3 and cross-major minimatch overrides
  api/package.json
  client/package.json
  client/pnpm-lock.yaml
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: none

fix: add missing combat fields to BeastCollection memo deps
  client/src/components/BeastCollection.tsx
Due: client

fix: regenerate api pnpm lockfile after minimatch override removal
  api/pnpm-lock.yaml
Due: none

fix: remove redundant rollup override from api
  api/package.json
  api/pnpm-lock.yaml
Due: none

fix: resolve all high Dependabot alerts (#121)
  api/package.json
  api/pnpm-lock.yaml
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/BeastCollection.tsx
  client/src/components/Leaderboard.test.tsx
  indexer/package.json
  indexer/pnpm-lock.yaml
Due: client

fix: add consumables table migration for ERC20 token balance tracking
  indexer/migrations/0003_consumables.sql
  indexer/migrations/meta/_journal.json
Due: none

feat: reactive potion balances via WebSocket consumables channel
  api/AGENTS.md
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useWebSocket.test.ts
  client/src/hooks/useWebSocket.ts
  client/tsconfig.tsbuildinfo
  indexer/migrations/0004_consumables_trigger.sql
Due: client, api

fix: type useAccountMock return to satisfy strict tsc in Vercel build
  client/src/contexts/GameDirector.test.tsx
Due: none

fix: spread prev balances in consumables handler + add migration journal entry
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
  indexer/migrations/meta/_journal.json
Due: client

Improve autopilot and ability to see potion holders
  api/src/index.ts
  api/src/ws/subscriptions.ts
  client/src/api/summitApi.ts
  client/src/components/ActionBar.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/PotionHoldersModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useWebSocket.ts
  client/src/stores/autopilotStore.ts
  client/tsconfig.tsbuildinfo
  indexer/migrations/0003_trigger_add_update_timestamp.sql
Due: client, api

fix bugs
  client/src/components/ActionBar.tsx
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0003_trigger_add_update_timestamp.sql
  indexer/migrations/meta/_journal.json
Due: client, indexer

Improve autopilot and ability to see potion holders (#132)
  api/src/index.ts
  api/src/ws/subscriptions.ts
  client/src/api/summitApi.ts
  client/src/components/ActionBar.tsx
  client/src/components/Leaderboard.jsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/components/dialogs/PotionHoldersModal.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useWebSocket.ts
  client/src/stores/autopilotStore.ts
  client/tsconfig.tsbuildinfo
  indexer/indexers/summit.indexer.ts
  indexer/migrations/0003_trigger_add_update_timestamp.sql
  indexer/migrations/meta/_journal.json
Due: client, indexer, api

update apply poison design
  client/src/components/dialogs/AutopilotConfigModal.tsx
Due: client

fix: include consumables in root endpoint WS channel list
  api/src/index.ts
Due: api

feat: add optional server-side owner filtering for WS channels
  api/AGENTS.md
  api/src/index.ts
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  client/src/contexts/GameDirector.test.tsx
  client/src/contexts/GameDirector.tsx
  client/src/hooks/useWebSocket.test.ts
  client/src/hooks/useWebSocket.ts
Due: client, api

Restore custom autopilot features lost in upstream merge
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.test.ts
  client/src/utils/beasts.ts
Due: client

Refactor: extract autopilot orchestration into useAutopilotOrchestrator hook
  client/src/components/ActionBar.test.tsx
  client/src/components/ActionBar.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
Due: client

feat: add supply WS channel for real-time consumables-held-by-players
  api/AGENTS.md
  api/src/index.ts
  api/src/ws/subscriptions.test.ts
  api/src/ws/subscriptions.ts
  client/src/contexts/Statistics.test.tsx
  client/src/contexts/Statistics.tsx
  client/src/hooks/useWebSocket.test.ts
  client/src/hooks/useWebSocket.ts
  indexer/migrations/0004_consumables_trigger.sql
Due: client, api

Fix stale closures, duplicate poison, and diplomacy matching in autopilot
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
  client/src/utils/beasts.ts
Due: client

Add 1HP snipe, poison schedule, and rotate top beasts autopilot features
  client/src/components/ActionBar.test.tsx
  client/src/components/dialogs/AutopilotConfigModal.tsx
  client/src/hooks/useAutopilotOrchestrator.ts
  client/src/stores/autopilotStore.ts
  client/src/utils/beasts.ts
Due: client

refactor: consolidate address utils, extract API constants, remove phantom debug endpoints
  api/src/index.ts
  client/src/components/DiplomacyPopover.tsx
  client/src/components/Leaderboard.jsx
  client/src/contexts/GameDirector.tsx
  client/src/utils/addressNameCache.ts
  client/src/utils/addressUtils.test.ts
  client/src/utils/addressUtils.ts
Due: client, api

fix(client): add missing mock fields in ActionBar and Leaderboard tests
  client/src/components/ActionBar.test.tsx
  client/src/components/Leaderboard.test.tsx
Due: none

fix(indexer): include .mjs scripts in ESLint node globals config
  indexer/eslint.config.js
Due: none

fix(client): remove unused normalizeAddress import in GameDirector
  client/src/contexts/GameDirector.tsx
Due: client

fix(telemetry): harden metrics intervals, empty-block tracking, and WS error sampling
  api/src/lib/metrics.ts
  api/src/ws/subscriptions.ts
  indexer/indexers/summit.indexer.ts
  indexer/src/lib/metrics.ts
Due: indexer, api

fix(client): normalize Leaderboard type and handle null owner addresses
  client/src/api/summitApi.ts
  client/src/components/DiplomacyPopover.tsx
  client/src/components/dialogs/LeaderboardModal.tsx
  client/src/types/game.ts
  client/src/utils/addressUtils.test.ts
  client/src/utils/addressUtils.ts
  client/tsconfig.tsbuildinfo
Due: client

fix(indexer): make reorg trigger registration idempotent across restarts
  indexer/patches/@apibara__plugin-drizzle@2.1.0-beta.55.patch
Due: none

fix(api): exclude /beasts/:owner from response cache
  api/src/index.ts
  indexer/pnpm-lock.yaml
Due: api
